<!-- layout -->
<div style="width: 100%; min-height: 280px; background-color: #fff; padding: 24px;">
  <nz-tabset>

    <!-- tab training notification -->
    <nz-tab nzTitle="Training Notifications">
      <app-training-notification></app-training-notification>
    </nz-tab>
    <!-- end tab training notification -->

    <!-- tab notification -->
    <nz-tab nzTitle="Notifications">
      <app-notification></app-notification>
    </nz-tab>
    <!-- end tab notification -->
  </nz-tabset>
</div>
<!-- end layout -->
