/* chat input css */
#chat-input {
  position: relative;
  left: 0;
  right: 0;
  top: 32px;
}

#emoji-toggle:hover {
  cursor: pointer;
}

/* end chat input css */

/* chat content css  */
#chat-content {
  height: 350px;
  overflow: auto;
}

#chat-content::-webkit-scrollbar {
  display: none;
}

.message-right-container {
  text-align: right;
  margin-bottom: 4px;
}

.message-right {
  background: #1890ff;
  width: 200px;
  color: white;
  padding: 4px 16px;
  display: inline-block;
  text-align: left;
  border-radius: 16px;
}

.message-left-container {
  text-align: left;
  margin-bottom: 4px;
}

.message-left {
  background: #fafafa;
  width: 200px;
  color: black;
  padding: 4px 16px;
  display: inline-block;
  text-align: left;
  border-radius: 16px;
}

/* end chat content css */
