<!-- layout -->
<div
  style="width: 100%; min-height: 280px; background-color: #fff; padding: 24px;"
>
  <nz-tabset>
    <!-- tab list of normal coaches -->
    <nz-tab nzTitle="Coaches">
      <app-coach></app-coach>
    </nz-tab>
    <!-- end tab list of normal coaches -->

    <!-- tab recommended coaches -->
    <nz-tab nzTitle="Recommended Coaches">
      <app-recommended-coaches></app-recommended-coaches>
    </nz-tab>
    <!-- end tab recommended coaches -->
  </nz-tabset>
</div>
<!-- end layout -->
