<div
  style="width: 100%; min-height: 280px; background-color: #fff; padding: 24px;"
>
  <!-- loading component -->
  <app-loading *ngIf="isLoadingSpinnerShown"></app-loading>
  <!-- end loading component -->

  <!-- select product order status -->
  <nz-select
    style="width: 120px;"
    [(ngModel)]="selectedProductOrderStatus"
    (ngModelChange)="onProductOrderStatusChanged($event)"
  >
    <nz-option nzValue="0" nzLabel="Not Done"></nz-option>
    <nz-option nzValue="1" nzLabel="Done"></nz-option>
    <nz-option nzValue="2" nzLabel="Processing"></nz-option>
    <nz-option nzValue="3" nzLabel="Shipping"></nz-option>
    <nz-option nzValue="4" nzLabel="Cancel"></nz-option>
  </nz-select>
  <!-- end select product order status-->

  <!-- custom list -->
  <nz-list
    [nzDataSource]="productOrders"
    [nzRenderItem]="item"
    [nzItemLayout]="'horizontal'"
    [ngClass]="{
      'opacity-loading': isLoadingSpinnerShown,
      'mg-bottom-24': true,
      'mg-top-24': true
    }"
  >
    <ng-template #item let-item>
      <nz-list-item (click)="goToBuyingHistoryDetail(item)">
        <nz-list-item-meta [nzTitle]="nzTitle">
          <ng-template #nzTitle>
            <span>{{ item.productOrderDate | date: "MM/dd/yyyy" }}</span>
          </ng-template>
        </nz-list-item-meta>
      </nz-list-item>
    </ng-template>
  </nz-list>
  <!-- end custom list -->

  <!-- pagination -->
  <nz-pagination
    *ngIf="productOrders && productOrders.length"
    [nzPageIndex]="currentProductOrdersPage"
    [nzPageSize]="nProductOrdersPerPage"
    [nzTotal]="totalProductOrders"
    [nzSize]="'small'"
    (nzPageIndexChange)="productOrdersPageChange($event)"
  ></nz-pagination>
  <!-- end pagination -->
</div>
