<!--suppress ALL -->
<!-- layout -->
<div
  [ngClass]="{ 'height-100': true, 'position-relative': true }"
  nz-row
  nzAlign="middle"
  nzJustify="center"
  nzType="flex"
>
  <!-- loading component -->
  <app-loading *ngIf="isLoadingSpinnerShown"></app-loading>
  <!-- end loading component -->

  <!-- forgot password form -->
  <form
    (ngSubmit)="submitForm()"
    [formGroup]="forgotPasswordForm"
    [ngClass]="{
      'reset-password-form': true,
      'opacity-loading': isLoadingSpinnerShown
    }"
    nz-form
  >
    <h1 align="center">Reset Password</h1>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixUser">
          <input
            (blur)="validateEmail()"
            formControlName="email"
            nz-input
            placeholder="Please input your email"
            type="text"
          />
        </nz-input-group>
        <nz-form-explain
          *ngIf="
            forgotPasswordForm.get('email').touched &&
            (forgotPasswordForm.get('email').hasError('required') ||
              forgotPasswordForm.get('email').hasError('invalidEmail'))
          "
        >Please input your email! (e.g. abc@gmail.com)
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button [nzType]="'primary'" class="reset-password-button" nz-button>
          Send
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
  <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
  <!-- end forgot password form-->
</div>
<!-- end layout -->
