<div style="width: 100%; min-height: 280px; background-color: #fff; padding: 24px;">
  <!-- loading component -->
  <app-loading *ngIf="loading"></app-loading>
  <!-- end loading component -->

  <!-- search box-->
  <nz-input-group [nzSuffix]="suffixIconSearch" [ngClass]="{'mg-bottom-24': true, 'width-50': true}">
    <input type="text" nz-input placeholder="Name..." #searchBox  (keyup.enter)="searchExercise(searchBox.value)"/>
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <i nz-icon type="search"></i>
  </ng-template>
  <!-- end search box -->

  <!-- custom list -->
  <nz-list [nzDataSource]="singleExercisesPerPage" [nzRenderItem]="item" [nzItemLayout]="'horizontal'"
           [ngClass]="{'opacity-loading': loading, 'mg-bottom-24': true}">
    <ng-template #item let-item>
      <nz-list-item>
        <nz-list-item-meta
          [nzTitle]="nzTitle"
          nzAvatar="{{ item.smallMobileRetinaPictureUrl }}"
        >
          <ng-template #nzTitle>
            <span (click)="goToExerciseDetail(item)">{{ item.title }}</span>
          </ng-template>
        </nz-list-item-meta>
      </nz-list-item>
    </ng-template>
  </nz-list>
  <!-- end custom list -->

  <!-- pagination -->
  <nz-pagination
    [nzPageIndex]="currentPage"
    [nzPageSize]="nSingleExercisesPerPage"
    [nzTotal]="totalExercises"
    [nzSize]="'small'"
    (nzPageIndexChange)="exercisePageChange($event)"></nz-pagination>
  <!-- end pagination -->
</div>
