/* what to know css */
#what-to-know {
  width: 100%;
  height: auto;
  position: relative;
}

#what-to-know:hover {
  cursor: pointer;
}

#image-what-to-know {
  width: 100%;
  border-radius: 15px;
}

#play-video {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 12px;
  left: 12px;
}

#image-play-video {
  width: 24px;
  height: 24px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#exercise-title {
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 18px;
  left: 84px;
}

/* end what to know css*/

/* repetitions css */
#repetitions-title {
  margin-top: 24px;
}

#repetitions {
  width: 100%;
}

#current-repetitions {
  display: inline;
}

#ic-edit-repetitions {
  float: right;
}

/* end repetitions css */

/* summary css */
#summary {
  width: 100%;
}

#summary-title {
  margin-top: 24px;
}

#img-summary {
  width: 64px;
  height: 64px;
  float: left;
  border-radius: 15px;
}

#exercise-repetition-title {
  padding-left: 84px;
  padding-top: 16px;
}

/* end summary css */

/* css button start */

#btn-start {
  margin-top: 36px;
}

/* end css button start*/

/* radio repetition css */
.radio-repetition {
  display: block;
  height: 30px;
  line-height: 30px;
}

/* end radio repetition css */
