<!--suppress ALL -->
<div style="width: 100%; min-height: 280px; background-color: #fff; padding: 24px;"
     [ngClass]="{'opacity-loading': isLoadingSpinnerShown}">
  <!-- loading component -->
  <app-loading *ngIf="isLoadingSpinnerShown"></app-loading>
  <!-- end loading component -->

  <!-- search box-->
  <nz-input-group *ngIf="notifications && notifications.length" [nzSuffix]="suffixIconSearch"
                  [ngClass]="{'mg-bottom-24': true, 'width-50': true}">
    <input type="text" nz-input placeholder="Name..." #searchBox (keyup.enter)="searchNotifications(searchBox.value)"/>
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <i nz-icon type="search"></i>
  </ng-template>
  <!-- end search box -->

  <!-- custom list -->
  <nz-list [nzDataSource]="notifications" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
    <ng-template #item let-item>
      <nz-list-item>
        <nz-list-item-meta
          [nzTitle]="nzTitle"
        >
          <ng-template #nzTitle>
            <span>{{ item.content }}</span>
          </ng-template>
        </nz-list-item-meta>
      </nz-list-item>
    </ng-template>
  </nz-list>
  <!-- end custom list-->

  <!-- pagination -->
  <nz-pagination
    *ngIf="notifications && notifications.length"
    [nzPageIndex]="currentNotificationsPage"
    [nzPageSize]="nNotificationsPerPage"
    [nzTotal]="totalNotification"
    [nzSize]="'small'"
    (nzPageIndexChange)="notificationsPageChange($event)"></nz-pagination>
  <!-- end pagination -->
</div>
