<!--suppress ALL -->
<div
  *ngIf="selectedCoach"
  [ngClass]="{ 'opacity-loading': isLoadingSpinnerShown }"
  nz-row
  nzAlign="middle"
  nzJustify="center"
  nzType="flex"
>
  <!-- loading component -->
  <app-loading *ngIf="isLoadingSpinnerShown"></app-loading>
  <!-- end loading component -->

  <!-- avatar -->
  <div id="avatar">
    <img
      alt="{{ selectedCoach.userProfile.fullName }}"
      id="coach-avatar"
      src="{{ selectedCoach.userProfile.avatar }}"
    />
  </div>
  <!-- end avatar -->

  <!-- name -->
  <div id="coach-name">
    <p>
      {{ selectedCoach.userProfile.fullName }}
    </p>
  </div>
  <!-- name -->

  <!-- total membership rating -->
  <div id="total-memberships-rating">
    <p>
      {{ selectedCoach.numberOfMemberships }} Memberships Enrolled -
      {{ selectedCoach.ratingAverage }} stars
    </p>
  </div>
  <!-- end membership rating -->

  <!-- average rate-->
  <nz-rate
    [ngModel]="selectedCoach.ratingAverage"
    class="mg-bottom-24"
    nzDisabled
  ></nz-rate>
  <!-- end average rate -->

  <!-- coach about -->
  <div class="line mg-bottom-24"></div>
  <div id="coach-about">
    <p>{{ selectedCoach.about }}</p>
  </div>
  <div class="line mg-top-24"></div>
  <!-- end coach about -->

  <!-- customer reviews -->
  <div class="mg-top-24" nz-row nzGutter="0" style="width: 100%;">
    <div
      class="gutter-row"
      id="customer-reviews"
      nz-col
      nzLg="24"
      nzMd="24"
      nzSm="24"
      nzXl="24"
      nzXs="24"
    >
      <h3 id="title-customer-reviews">Customer Reviews</h3>
      <button
        (click)="toggleAddReviewForm()"
        id="btn-write-reviews"
        nz-button
        nzType="default"
      >
        Write Reviews
      </button>

      <div class="clear-both"></div>

      <!-- add reviews form -->
      <div *ngIf="isCoachReviewFromShown" id="add-reviews-form">
        <nz-rate
          (ngModelChange)="onRateChanged($event)"
          [ngModel]="selectedCoachRateValue"
          class="mg-top-24"
        ></nz-rate>
        <br/>
        <textarea
          [(ngModel)]="coachReviewContent"
          class="mg-top-24"
          id="reviews-text-area"
          nz-input
          placeholder="Write Reviews..."
          rows="4"
        ></textarea>
        <br/>
        <button
          (click)="addCoachReview()"
          id="btn-add-reviews"
          nz-button
          nzType="primary"
        >
          Add Reviews
        </button>
      </div>
      <!-- end add reviews form -->

      <!-- pagination list -->

      <!-- reply comment template-->
      <ng-template #commentTemplateReplyRef let-comment="comment">
        <nz-comment
          [nzAuthor]="comment.userProfile.fullName"
          [nzDatetime]="
            comment.replyOnCoachFeedbackCreatedDate
              | date: 'yyyy-MM-dd HH:mm:ss'
          "
        >
          <nz-avatar
            [nzSrc]="comment.userProfile.avatar"
            nz-comment-avatar
            nzIcon="user"
          ></nz-avatar>
          <nz-comment-content>
            <p>{{ comment.replyOnCoachFeedbackContent }}</p>
          </nz-comment-content>
          <nz-comment-action>
            <i
              (click)="likeReplyOnCoachFeedback(comment)"
              [nzTheme]="comment.isLikeClicked == true ? 'twotone' : 'outline'"
              nz-icon
              nz-tooltip
              nzTitle="Like"
              type="like"
            ></i>
            <span class="count like">{{ comment?.numberOfLikes }}</span>
          </nz-comment-action>
          <nz-comment-action>
            <i
              (click)="dislikeReplyOnCoachFeedback(comment)"
              [nzTheme]="comment.isLikeClicked == false ? 'twotone' : 'outline'"
              nz-icon
              nz-tooltip
              nzTitle="Dislike"
              type="dislike"
            ></i>
            <span class="count dislike">{{ comment?.numberOfDislikes }}</span>
          </nz-comment-action>
          <nz-comment-action>
            <span (click)="showReplyReplyCoachFeedbackBox(comment)"
            >Reply to</span
            >
          </nz-comment-action>
        </nz-comment>
      </ng-template>
      <!-- end reply comment template -->

      <!-- comment template -->
      <ng-template #commentTemplateRef let-comment="comment">
        <!-- coach's feedback content -->
        <nz-comment
          [nzAuthor]="comment.userProfile.fullName"
          [nzDatetime]="
            comment.coachFeedbackCreatedDate | date: 'yyyy-MM-dd HH:mm:ss'
          "
        >
          <nz-avatar
            [nzSrc]="comment.userProfile.avatar"
            nz-comment-avatar
            nzIcon="user"
          ></nz-avatar>
          <nz-comment-content>
            <p>{{ comment.coachFeedbackContent }}</p>
          </nz-comment-content>
          <nz-comment-action>
            <i
              (click)="like(comment)"
              [nzTheme]="comment.isLikeClicked == true ? 'twotone' : 'outline'"
              nz-icon
              nz-tooltip
              nzTitle="Like"
              type="like"
            ></i>
            <span class="count like">{{ comment?.numberOfLikes }}</span>
          </nz-comment-action>
          <nz-comment-action>
            <i
              (click)="dislike(comment)"
              [nzTheme]="comment.isLikeClicked == false ? 'twotone' : 'outline'"
              nz-icon
              nz-tooltip
              nzTitle="Dislike"
              type="dislike"
            ></i>
            <span class="count dislike">{{ comment?.numberOfDislikes }}</span>
          </nz-comment-action>
          <nz-comment-action>
            <span (click)="showReplyCoachFeedbackBox(comment)">Reply to</span>
          </nz-comment-action>
          <nz-comment-action>
            <span (click)="viewRepliesOfSelectedCoachFeedback(comment)"
            >View {{ comment?.numberOfReplies }} replies</span
            >
          </nz-comment-action>
          <!-- end  coach's feedback content -->

          <!-- relies of each coach's feedback -->
          <ng-container *ngIf="comment.replies && comment.replies.length">
            <ng-template [ngForOf]="comment.replies" let-child ngFor>
              <ng-template
                [ngTemplateOutletContext]="{ comment: child }"
                [ngTemplateOutlet]="commentTemplateReplyRef"
              >
              </ng-template>
            </ng-template>
          </ng-container>
          <!-- end relies of each coach's feedback -->

          <!-- reply box-->
          <nz-input-group
            *ngIf="comment.isReplyBoxShown && comment.isReplyBoxShown == true"
            [ngClass]="{ 'mg-bottom-24': true }"
            [nzSuffix]="suffixIconMessage"
            style="width: 100%;"
          >
            <input
                #replyBox
                (keyup.enter)="
                replyToCoachFeedback(comment, replyBox.value);
                replyBox.value = ''
              "
                nz-input
                placeholder="Reply..."
                type="text"
            />
          </nz-input-group>
          <ng-template #suffixIconMessage>
            <i nz-icon type="message"></i>
          </ng-template>
          <!-- end reply box -->
        </nz-comment>
      </ng-template>
      <!-- end comment template -->

      <div *ngFor="let eachCoachFeedbackComment of coachFeedbacksPerPage">
        <ng-template
          [ngTemplateOutletContext]="{ comment: eachCoachFeedbackComment }"
          [ngTemplateOutlet]="commentTemplateRef"
        ></ng-template>
      </div>

      <!-- end pagination list -->

      <!-- pagination -->
      <nz-pagination
        (nzPageIndexChange)="coachFeedbacksPageChange($event)"
        *ngIf="coachFeedbacks && coachFeedbacks.length"
        [nzPageIndex]="currentCoachFeedbacksPage"
        [nzPageSize]="nCoachFeedbacksPerPage"
        [nzTotal]="totalCoachFeedbacks"
        nzSize="small"
      ></nz-pagination>
      <!-- end pagination -->
    </div>

    <!-- end customer reviews -->

    <!-- hire coach button -->
    <button
      (click)="sendHireRequestToCoach()"
      *ngIf="
        selectedCoach.userProfile.id != selectedUserProfile.id &&
        !isRelationshipBetweenUserAndCoachExisted &&
        !isHireCoachRequestSent &&
        !isCurrentUserIsCoach
      "
      [nzType]="'primary'"
      class="hire-coach-btn"
      nz-button
    >
      Yes, I want {{ selectedCoach.userProfile.fullName }} to be my coach
    </button>
    <!-- end hire coach button -->

    <!-- hire coach button -->
    <button
      *ngIf="
        selectedCoach.userProfile.id != selectedUserProfile.id &&
        !isRelationshipBetweenUserAndCoachExisted &&
        isHireCoachRequestSent
      "
      [nzType]="'primary'"
      class="processing-btn"
      disabled
      nz-button
    >
      Your request is handling
    </button>
    <!-- end hire coach button -->
  </div>
</div>
