<!-- layout -->
<div style="width: 100%; min-height: 280px; background-color: #fff; padding: 24px;">
  <nz-tabset>

    <!-- tab user-account' profile -->
    <nz-tab nzTitle="Coach Profile" *ngIf="isCoachInformationShow">
      <app-coach-information></app-coach-information>
    </nz-tab>
    <!-- end tab user-account's profile -->

    <!-- tab achievement -->
    <nz-tab nzTitle="Achievement">
      <app-coach-achievement></app-coach-achievement>
    </nz-tab>
    <!-- end tab achievement -->

    <!-- tab coach schedule -->
    <nz-tab nzTitle="Schedule" *ngIf="isRelationshipExisted">
      <app-coach-schedule></app-coach-schedule>
    </nz-tab>
    <!-- end coach schedule -->


  </nz-tabset>
</div>
<!-- end layout -->
