<div style="width: 100%; min-height: 280px; background-color: #fff; padding: 24px;">
  <!-- loading component -->
  <app-loading *ngIf="loading"></app-loading>
  <!-- end loading component -->

  <!--month picker -->
  <nz-month-picker
    [(ngModel)]="selectedDateCoachPaymentHistories"
    (ngModelChange)="onMonthChanged($event)"
    nzPlaceHolder="Select Month"
  ></nz-month-picker>
  <!-- end month picker -->

  <!-- custom list -->
  <nz-list class="mg-top-24" [nzDataSource]="coachPaymentHistories" [nzRenderItem]="item" [nzItemLayout]="'horizontal'"
           *ngIf="coachPaymentHistories && coachPaymentHistories.length && !loading">
    <ng-template #item let-item>
      <nz-list-item>
        <nz-list-item-meta
          [nzTitle]="nzTitle"
        >
          <ng-template #nzTitle>
            <span>You has pay {{ item.sum }}$ for {{ item.membership.coach.userProfile.fullName }}</span>
          </ng-template>
        </nz-list-item-meta>
      </nz-list-item>
    </ng-template>
  </nz-list>
  <!-- end custom list-->

  <!-- pagination -->
  <div id="pagination">
    <nz-pagination
      *ngIf="coachPaymentHistories && coachPaymentHistories.length && !loading"
      [nzPageIndex]="currentPage"
      [nzPageSize]="nCoachPaymentHistories"
      [nzTotal]="totalCoachPaymentHistories"
      [nzSize]="'small'"
      (nzPageIndexChange)="coachPaymentHistoriesPageChanged($event)"></nz-pagination>
  </div>
  <!-- end pagination -->

  <!-- total coach revenue -->
  <div id="total-revenue-by-selected-month-and-by-selected-year"
       *ngIf="coachPaymentHistories
        && coachPaymentHistories.length
        && !loading
        && totalCoachPaymentHistories">
    <h3 id="total-revenue-by-selected-month-and-by-selected-year-title">Total Revenue
      in {{ selectedMonthCoachPaymentHistories }}
      /{{ selectedYearCoachPaymentHistories }}: </h3>
    <h3
      id="total-revenue-by-selected-month-and-by-selected-year-result">{{ totalCoachPaymentHistories }}
      $</h3>
  </div>
  <!-- end total coach revenue-->

</div>
