<!-- layout -->
<div
  [ngClass]="{ 'height-100': true, 'position-relative': true }"
  nz-row
  nzAlign="middle"
  nzJustify="center"
  nzType="flex"
>
  <!-- loading component -->
  <app-loading *ngIf="isLoadingSpinnerShown"></app-loading>
  <!-- end loading component -->

  <!-- change password form -->
  <form
    (ngSubmit)="submitForm()"
    [formGroup]="changePasswordForm"
    [ngClass]="{
      'change-password-form': true,
      'opacity-loading': isLoadingSpinnerShown
    }"
    nz-form
  >
    <h1 align="center">Change Password</h1>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixLock">
          <input
            (blur)="validatePassword()"
            formControlName="password"
            nz-input
            placeholder="Password"
            type="password"
          />
        </nz-input-group>
        <nz-form-explain
          *ngIf="
            changePasswordForm.get('password').touched &&
            (changePasswordForm.get('password').hasError('required') ||
              changePasswordForm.get('password').hasError('invalidPassword'))
          "
        >Please input your Password!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixLock">
          <input
            (blur)="validatePassword()"
            (keyup)="validateConfirmPassword()"
            formControlName="confirmPassword"
            nz-input
            placeholder="Confirm Password..."
            type="password"
          />
        </nz-input-group>
        <nz-form-explain
          *ngIf="
            changePasswordForm.get('confirmPassword').touched &&
            (changePasswordForm.get('confirmPassword').hasError('required') ||
              changePasswordForm
                .get('confirmPassword')
                .hasError('invalidPassword'))
          "
        >Please confirm your Password! Your confirm password must be equal to
          your password!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button [nzType]="'primary'" class="change-password-button" nz-button>
          Change Password
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
  <!-- end change password form -->
</div>
<!-- end layout -->
