<!-- layout -->
<div nz-row nzType="flex" nzJustify="center" nzAlign="middle"
     [ngClass]="{'height-100': true, 'position-relative': true}">

  <!-- loading component -->
  <app-loading *ngIf="isLoadingSpinnerShown"></app-loading>
  <!-- end loading component -->

  <!-- change password form -->
  <form nz-form [formGroup]="changePasswordForm"
        [ngClass]="{'change-password-form': true, 'opacity-loading': isLoadingSpinnerShown}"
        (ngSubmit)="submitForm()">
    <h1 align="center">Change Password</h1>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixLock">
          <input type="password" nz-input formControlName="password" placeholder="Password"
                 (blur)="validatePassword()"/>
        </nz-input-group>
        <nz-form-explain
          *ngIf="changePasswordForm.get('password').touched && (changePasswordForm.get('password').hasError('required') || changePasswordForm.get('password').hasError('invalidPassword'))"
        >Please input your Password!
        </nz-form-explain
        >
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixLock">
          <input type="password" nz-input formControlName="confirmPassword" placeholder="Confirm Password..."
                 (blur)="validatePassword()" (keyup)="validateConfirmPassword()"/>
        </nz-input-group>
        <nz-form-explain
          *ngIf="changePasswordForm.get('confirmPassword').touched && (changePasswordForm.get('confirmPassword').hasError('required') || changePasswordForm.get('confirmPassword').hasError('invalidPassword'))"
        >Please confirm your Password! Your confirm password must be equal to your password!
        </nz-form-explain
        >
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button class="change-password-button" [nzType]="'primary'">Change Password</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
  <!-- end change password form -->
</div>
<!-- end layout -->
