<!--suppress ALL -->
<nz-layout
  id="layout"
  class="layout"
  [ngClass]="{ 'opacity-loading': isLoadingSpinnerShown }"
>
  <!-- loading component -->
  <app-loading *ngIf="isLoadingSpinnerShown"></app-loading>
  <!-- end loading component -->

  <!-- navbar -->
  <nz-header ngClass="pd-left-72 header">
    <div class="logo">
      <p ngClass="logo-text">
        Greenwich Fitness
      </p>
    </div>

    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="horizontal-menu">
      <li nz-menu-item class="menu-item" (click)="goToComponent('feed')">
        <span><span class="nav-text">Feeds</span></span>
      </li>
      <li nz-menu-item class="menu-item" (click)="goToComponent('profile')">
        <span><span class="nav-text">Profile</span></span>
      </li>
      <li nz-menu-item class="menu-item" (click)="goToComponent('exercises')">
        <span><span class="nav-text">Exercises</span></span>
      </li>
      <li nz-menu-item class="menu-item" (click)="goToComponent('workouts')">
        <span><span class="nav-text">Workouts</span></span>
      </li>
      <li nz-menu-item class="menu-item" (click)="goToComponent('coach')">
        <span><span class="nav-text">Coach</span></span>
      </li>
      <li nz-menu-item class="menu-item" (click)="goToComponent('blog')">
        <span><span class="nav-text">Blog</span></span>
      </li>
      <li nz-menu-item class="menu-item" (click)="goToComponent('shop')">
        <span><span class="nav-text">Shop</span></span>
      </li>
      <li nz-menu-item class="menu-item" (click)="goToComponent('music')">
        <span><span class="nav-text">Music</span></span>
      </li>
      <li nz-menu-item class="menu-item" (click)="goToComponent('gallery')">
        <span><span class="nav-text">Gallery</span></span>
      </li>
      <li nz-menu-item class="menu-item" (click)="goToComponent('gift')">
        <span><span class="nav-text">Gift</span></span>
      </li>
    </ul>

    <!-- welcome user -->
    <div id="welcome-user">
      <div id="user-avatar">
        <nz-avatar
          [nzSize]="32"
          nzIcon="user"
          nzSrc="{{ selectedUserProfile?.avatar }}"
        ></nz-avatar>
      </div>
      <div id="welcome-user-message">
        <span class="mg-right-12"
          >Welcome, {{ selectedUserProfile?.fullName }}</span
        >
        <span>
          <i
            nz-icon
            type="caret-down"
            nz-popover
            nzTitle="Options"
            nzTrigger="click"
            [nzContent]="contentTemplate"
            nzPlacement="bottom"
          ></i>
          <ng-template #contentTemplate>
            <div class="user-option" (click)="logout()">Logout</div>
            <div class="user-option" (click)="goToUserProfile()">Profile</div>
            <div class="user-option" (click)="goToNotification()">
              Notifications
            </div>
          </ng-template>
        </span>
      </div>
      <div class="clear-both"></div>
    </div>
    <!-- end welcome user -->

    <!-- icon to open dropdown menu -->
    <div class="menu-icon" (click)="openDropDownMenu($event)">
      <span>
        <i nz-icon type="align-right"></i>
      </span>
    </div>
    <!-- end icon to open dropdown menu -->
  </nz-header>
  <!-- end navbar -->

  <!-- content -->
  <nz-content class="main-content">
    <div class="gutter-example">
      <div nz-row nzGutter="24">
        <!-- col menu -->
        <div
          nz-col
          class="gutter-row drop-down-menu"
          nzXs="24"
          nzSm="24"
          nzMd="24"
          nzLg="24"
          nzXl="24"
          [@fadeInAnimation]
          *ngIf="isDropDownMenuOpened"
        >
          <div
            class="gutter-box left-menu"
            style="background-color: #fff; min-height: 280px; padding: 24px;"
          >
            <h3>Menu</h3>
            <nz-divider></nz-divider>
            <!-- welcome user -->
            <div id="welcome-user-mobile">
              <div id="user-avatar-mobile">
                <nz-avatar
                  [nzSize]="32"
                  nzIcon="user"
                  nzSrc="{{ selectedUserProfile?.avatar }}"
                ></nz-avatar>
              </div>
              <div id="welcome-user-message-mobile">
                <span class="mg-right-12"
                  >Welcome, {{ selectedUserProfile?.fullName }}</span
                >
                <span>
                  <i
                    nz-icon
                    type="caret-down"
                    nz-popover
                    nzTitle="Options"
                    nzTrigger="click"
                    [nzContent]="contentTemplate"
                    nzPlacement="bottom"
                  ></i>
                  <ng-template #contentTemplate>
                    <div class="user-option" (click)="logout()">Logout</div>
                    <div class="user-option" (click)="goToUserProfile()">
                      Profile
                    </div>
                    <div class="user-option" (click)="goToNotification()">
                      Notifications
                    </div>
                  </ng-template>
                </span>
              </div>
              <div class="clear-both"></div>
            </div>
            <!-- end welcome user -->
            <ul nz-menu ngClass="none-border">
              <li
                nz-menu-item
                ngClass="pd-left-0"
                (click)="goToComponent('feed')"
              >
                <span
                  ><i nz-icon type="home"></i
                  ><span class="nav-text">Feeds</span></span
                >
              </li>
              <li
                nz-menu-item
                ngClass="pd-left-0"
                (click)="goToComponent('profile')"
              >
                <span
                  ><i nz-icon type="profile"></i
                  ><span class="nav-text">Profile</span></span
                >
              </li>
              <li
                nz-menu-item
                ngClass="pd-left-0"
                (click)="goToComponent('exercises')"
              >
                <span
                  ><i nz-icon type="rocket"></i
                  ><span class="nav-text">Exercises</span></span
                >
              </li>
              <li
                nz-menu-item
                ngClass="pd-left-0"
                (click)="goToComponent('workouts')"
              >
                <span
                  ><i nz-icon type="ant-design"></i
                  ><span class="nav-text">Workouts</span></span
                >
              </li>
              <li
                nz-menu-item
                ngClass="pd-left-0"
                (click)="goToComponent('coach')"
              >
                <span
                  ><i nz-icon type="team"></i
                  ><span class="nav-text">Coach</span></span
                >
              </li>
              <li
                nz-menu-item
                ngClass="pd-left-0"
                (click)="goToComponent('blog')"
              >
                <span
                  ><i nz-icon type="read"></i
                  ><span class="nav-text">Blog</span></span
                >
              </li>
              <li
                nz-menu-item
                ngClass="pd-left-0"
                (click)="goToComponent('shop')"
              >
                <span
                  ><i nz-icon type="shopping-cart"></i
                  ><span class="nav-text">Shop</span></span
                >
              </li>
              <li
                nz-menu-item
                ngClass="pd-left-0"
                (click)="goToComponent('music')"
              >
                <span
                  ><i nz-icon type="customer-service"></i
                  ><span class="nav-text">Music</span></span
                >
              </li>
              <li
                nz-menu-item
                ngClass="pd-left-0"
                (click)="goToComponent('gallery')"
              >
                <span
                  ><i nz-icon type="picture"></i
                  ><span class="nav-text">Gallery</span></span
                >
              </li>
              <li
                nz-menu-item
                ngClass="pd-left-0"
                (click)="goToComponent('gift')"
              >
                <span
                  ><i nz-icon type="gift"></i
                  ><span class="nav-text">Gift</span></span
                >
              </li>
            </ul>
          </div>
        </div>
        <!-- end col menu -->

        <!-- main content-->
        <div
          #mainContent
          nz-col
          class="gutter-row content"
          [nzXs]="{ span: 24, offset: 0 }"
          [nzSm]="{ span: 24, offset: 0 }"
          [nzMd]="{ span: 24, offset: 0 }"
          [nzLg]="{ span: 24, offset: 0 }"
          [nzXl]="{ span: 10, offset: 7 }"
        >
          <!--
            style="background-color: #fff; min-height: 280px; padding: 24px;"
          -->
          <div class="gutter-box">
            <router-outlet></router-outlet>
          </div>
        </div>
        <!-- end main content -->
      </div>
    </div>
  </nz-content>
  <!-- end content -->

  <div #audioContainer id="audio-container">
    <div id="music-selection-information">
      <div id="music-image">
        <img
          id="music-image-wide-screen"
          class="music-image-detail"
          src="{{ selectedMusic?.musicImage }}"
          alt="{{ selectedMusic?.musicName }}"
        />
      </div>
      <div id="music-title">
        <img
          id="music-image-small-screen"
          class="music-image-detail"
          src="{{ selectedMusic?.musicImage }}"
          alt="{{ selectedMusic?.musicName }}"
        />
        <span
          >{{ selectedMusic?.musicName }} -
          {{ selectedMusic?.musicAuthor }}</span
        >
      </div>
    </div>
    <div id="audio0">
      <audio #audioOption id="audio1" controls autoplay></audio>
    </div>
  </div>

  <!-- footer -->
  <nz-footer id="footer" style="text-align: center;"
    >Greenwich Fitness ©2019 Implement By Henry Le</nz-footer
  >
  <!-- end footer -->
</nz-layout>
