<!-- layout -->
<div
  [ngClass]="{ 'height-100': true, 'pd-top-200': true }"
  [ngStyle]="{ 'background-image': 'url(' + backgroundImage + ')' }"
  id="active-account-container"
>
  <!-- loading component -->
  <app-loading *ngIf="isLoadingSpinnerShown"></app-loading>
  <!-- end loading component -->
  <!-- message -->
  <h1 *ngIf="!isActivated && !isLoadingSpinnerShown" class="message">
    Failure to active your account! Please try again!
  </h1>
  <h1 *ngIf="isActivated && !isLoadingSpinnerShown" class="message">
    Your account is activated!
  </h1>
  <div *ngIf="!isLoadingSpinnerShown" align="center">
    <button (click)="goToLogin()" [nzType]="'primary'" nz-button>
      Go to Log In
    </button>
  </div>
</div>
