<!--suppress ALL -->
<div *ngIf="isPostCategory" [ngClass]="{'opacity-loading': isLoadingSpinnerShown}">

  <!-- loading component -->
  <app-loading *ngIf="isLoadingSpinnerShown"></app-loading>
  <!-- end loading component -->

  <!-- posts -->
  <div>

    <div class="title">
      <h2>Posts For "{{ selectedPostCategory.postCategoryName }}" Category</h2>
    </div>

    <div class="clear-both"></div>

    <div nz-row nzGutter="16" [ngClass]="{'mg-bottom-24': true}" class="post-category-list">
      <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="6"
           nzLg="6" nzXl="6" *ngFor="let eachPost of postsByCategory; let i = index" [attr.data-index]="i">
        <div class="gutter-box post-item" [ngClass]="{'mg-top-24': i >= 4}" (click)="goToPostDetail(eachPost)">
          <nz-card nzHoverable style="width: 100%;" [nzCover]="coverTemplate">
            <nz-card-meta nzTitle="{{ eachPost.postTitle }}"
                          nzDescription="{{ eachPost.userProfile.fullName}}"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
            <img alt="{{ eachPost.postTitle }}" src="{{ eachPost.postImage }}"/>
          </ng-template>
        </div>
      </div>
    </div>

    <div id="pagination">
      <!-- pagination -->
      <nz-pagination
        *ngIf="postsByCategory && postsByCategory.length"
        [nzPageIndex]="currentPostsByCategoryPage"
        [nzPageSize]="nPostsByCategoryPerPage"
        [nzTotal]="totalPostsByCategory"
        (nzPageIndexChange)="postsPageChange($event)"></nz-pagination>
      <!-- end pagination -->
    </div>
  </div>
  <!-- end posts -->

</div>
