<!--suppress ALL -->
<div
  style="width: 100%; height: 350px; background-color: #fff; padding: 24px;"
  [ngClass]="{ 'opacity-loading': isLoadingSpinnerShown }"
>
  <!-- loading component -->
  <app-loading *ngIf="isLoadingSpinnerShown"></app-loading>
  <!-- end loading component -->

  <!-- chat content -->
  <div id="chat-content" [innerHtml]="currentChatContent">
  </div>
  <!-- end chat content -->

  <!-- chat input -->
  <div id="chat-input">
    <input
      nz-input
      placeholder="Please input your message"
      [(ngModel)]="currentUserChatMessage"
      (keyup.enter)="sendChatMessage()"
    />
    <span id="emoji-toggle" (click)="addEmojiToCurrentChatMessage()">{{
      emojiIcon
    }}</span>
    <span id="video-call" (click)="makeVideoCall()">
      <i nz-icon nzType="video-camera" nzTheme="outline"></i>
    </span>
  </div>
  <!-- end chat input -->

  <!-- video call -->
  <div id="video-call-modal" #videoCallModal>
    <div id="video-call-modal-content" #videoCallModalContent>
      <app-loading *ngIf="isLoadingRemoteStream"></app-loading>
      <video id="remote-stream" #remoteStream></video>
      <div id="cancel-video-call-button">
        <img src="./assets/images/stop_video_call.png" alt="Cancel" (click)="handleCancelVideoCallModal()"/>
      </div>
    </div>
  </div>
  <!-- end video call -->
</div>
