<!--suppress ALL -->
<div style="width: 100%; min-height: 280px; background-color: #fff; padding: 24px;">
  <!-- loading component -->
  <app-loading *ngIf="isLoadingSpinnerShown"></app-loading>
  <!-- end loading component -->

  <!-- search box-->
  <nz-input-group [nzSuffix]="suffixIconSearch" [ngClass]="{'mg-bottom-24': true, 'width-50': true}">
    <input type="text" nz-input placeholder="Name..." #searchBox (keyup.enter)="searchWorkouts(searchBox.value)"/>
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <i nz-icon type="search"></i>
  </ng-template>
  <!-- end search box -->

  <!-- tag to filter the list -->
  <div>
    <nz-tag class="mg-bottom-12 workout-tag"
            (click)="handleTagActive('beginner')"
            [ngClass]="{'tag-active': isBeginnerTagActive, 'tag-unactive': !isBeginnerTagActive}">Beginner
    </nz-tag>
    <nz-tag class="mg-bottom-12 workout-tag"
            (click)="handleTagActive('intermediate')"
            [ngClass]="{'tag-active': isIntermediateTagActive, 'tag-unactive': !isIntermediateTagActive}">Intermediate
    </nz-tag>
    <nz-tag class="mg-bottom-12 workout-tag"
            (click)="handleTagActive('advanced')"
            [ngClass]="{'tag-active': isAdvancedTagActive, 'tag-unactive': !isAdvancedTagActive}">Advanced
    </nz-tag>
    <nz-tag class="mg-bottom-12 workout-tag"
            (click)="handleTagActive('short')"
            [ngClass]="{'tag-active': isShortTagActive, 'tag-unactive': !isShortTagActive}">Short
    </nz-tag>
    <nz-tag class="mg-bottom-12 workout-tag"
            (click)="handleTagActive('medium')"
            [ngClass]="{'tag-active': isMediumTagActive, 'tag-unactive': !isMediumTagActive}">Medium
    </nz-tag>
    <nz-tag class="mg-bottom-12 workout-tag"
            (click)="handleTagActive('long')"
            [ngClass]="{'tag-active': isLongTagActive, 'tag-unactive': !isLongTagActive}">Long
    </nz-tag>
    <nz-tag class="mg-bottom-12 workout-tag"
            (click)="handleTagActive('full_body')"
            [ngClass]="{'tag-active': isFullBodyTagActive, 'tag-unactive': !isFullBodyTagActive}">Full Body
    </nz-tag>
    <nz-tag class="mg-bottom-12 workout-tag"
            (click)="handleTagActive('upper')"
            [ngClass]="{'tag-active': isUpperTagActive, 'tag-unactive': !isUpperTagActive}">Upper
    </nz-tag>
    <nz-tag class="mg-bottom-12 workout-tag"
            (click)="handleTagActive('core')"
            [ngClass]="{'tag-active': isCoreTagActive, 'tag-unactive': !isCoreTagActive}">Core
    </nz-tag>
    <nz-tag class="mg-bottom-12 workout-tag"
            (click)="handleTagActive('lower')"
            [ngClass]="{'tag-active': isLowerTagActive, 'tag-unactive': !isLowerTagActive}">Lower
    </nz-tag>
    <nz-tag class="mg-bottom-12 workout-tag"
            (click)="handleTagActive('no_distance')"
            [ngClass]="{'tag-active': isNoDistanceTagActive, 'tag-unactive': !isNoDistanceTagActive}">No Distance
    </nz-tag>
    <nz-tag class="mg-bottom-12 workout-tag"
            (click)="handleTagActive('no_equipment')"
            [ngClass]="{'tag-active': isNoEquipmentTagActive, 'tag-unactive': !isNoEquipmentTagActive}">No Equipment
    </nz-tag>
  </div>
  <!-- end tag filter -->

  <!-- custom list -->
  <nz-list [nzDataSource]="workoutsPerPage" [nzRenderItem]="item" [nzItemLayout]="'horizontal'"
           [ngClass]="{'opacity-loading': isLoadingSpinnerShown, 'mg-bottom-24': true}">
    <ng-template #item let-item>
      <nz-list-item>
        <nz-list-item-meta
          [nzTitle]="nzTitle"
          nzAvatar="{{ item.smallMobileRetinaPictureUrl }}"
        >
          <ng-template #nzTitle>
            <span (click)="goToWorkoutDetail(item)">{{ item.title }}</span>
          </ng-template>
        </nz-list-item-meta>
      </nz-list-item>
    </ng-template>
  </nz-list>
  <!-- end custom list -->

  <!-- pagination -->
  <nz-pagination
    [nzPageIndex]="currentWorkoutsPage"
    [nzPageSize]="nWorkoutPerPage"
    [nzTotal]="totalWorkouts"
    [nzSize]="'small'"
    (nzPageIndexChange)="workoutPageChange($event)"></nz-pagination>
  <!-- end pagination -->
</div>
