<!-- layout -->
<div nz-row nzType="flex"
     [ngClass]="{'height-100': true, 'position-relative': true}">
  <!-- loading component -->
  <app-loading *ngIf="loading"></app-loading>
  <!-- end loading component -->

  <!-- user-account' information's form -->
  <form nz-form [formGroup]="userInformationForm"
        [ngClass]="{'user-information-form': true, 'opacity-loading': loading}" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control>
        <nz-upload
          class="avatar-uploader"
          nzName="avatar"
          nzAction=""
          nzListType="picture-card"
          [nzShowUploadList]="false"
          [nzBeforeUpload]="beforeUpload"
          (nzChange)="handleChange($event)"
        >
          <ng-container *ngIf="!avatarUrl">
            <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
            <div class="ant-upload-text">Upload</div>
          </ng-container>
          <img *ngIf="avatarUrl" [src]="avatarUrl" class="avatar"/>
        </nz-upload>
        <span>
          (Click here to upload your avatar!)
        </span>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixUser">
          <input type="text" nz-input formControlName="fullName" placeholder="Name" (blur)="validateName()"/>
        </nz-input-group>
        <nz-form-explain
          *ngIf="userInformationForm.get('fullName').touched && userInformationForm.get('fullName').hasError('required')"
        >Please input your full name!
        </nz-form-explain
        >
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="loginType == 'normal'">
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixUser">
          <input type="text" nz-input formControlName="userName" placeholder="Username" (blur)="validateEmail()"/>
        </nz-input-group>
        <nz-form-explain
          *ngIf="userInformationForm.get('userName').touched && (userInformationForm.get('userName').hasError('required') || userInformationForm.get('userName').hasError('invalidEmail'))"
        >Please input your user's name! (e.g. abc@gmail.com)
        </nz-form-explain
        >
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button class="user-information-form-button" [nzType]="'primary'">Change Information</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <!-- end user-account's information form -->

  <!-- change password menu -->
  <div class="line" *ngIf="loginType == 'normal'"></div>
  <div id="change-password" *ngIf="loginType == 'normal'"><i nz-icon nzType="lock" nzTheme="outline"></i><a routerLink="/client/change-password">Change Password</a></div>
  <div class="line" *ngIf="loginType == 'normal'"></div>
  <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
  <!-- end change password menu -->
</div>
<!-- end layout -->
