<div nz-row nzGutter="0" *ngIf="selectedPrivacyPolicyContent" [ngClass]="{'opacity-loading': loading}">

  <!-- loading component -->
  <app-loading *ngIf="loading"></app-loading>
  <!-- end loading component -->

  <!-- about's content-->
  <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12">
    <h1>{{ selectedPrivacyPolicyContent?.privacyPolicyName }}</h1>
    <p>{{ selectedPrivacyPolicyContent?.privacyPolicyContent }}</p>
  </div>
  <!-- end about's content -->
</div>
