<div nz-row nzType="flex" nzJustify="center" nzAlign="middle"
     style="width: 100%; min-height: 280px; background-color: #fff; padding: 24px;"
     [ngClass]="{'opacity-loading': loading}">
  <!-- loading component -->
  <app-loading *ngIf="loading"></app-loading>
  <!-- end loading component -->

  <div id="title">
    <h3>Training - {{ currentDate }}</h3>
  </div>

  <div class="line"></div>

  <nz-transfer
    [nzDataSource]="dataSource"
    nzShowSearch
    [nzFilterOption]="filterOption"
    (nzSearchChange)="search($event)"
    (nzSelectChange)="select($event)"
    (nzChange)="change($event)"
  >
  </nz-transfer>

  <button nz-button [nzType]="'primary'" id="save-schedule-btn" (click)="saveMembershipSchedule()">Save Schedule</button>
</div>
