<!--suppress ALL -->
<div style="width: 100%; min-height: 280px; background-color: #fff; padding: 24px;" [ngClass]="{'opacity-loading': isLoadingSpinnerShown}">
  <!-- loading component -->
  <app-loading *ngIf="isLoadingSpinnerShown"></app-loading>
  <!-- end loading component -->

  <!-- search box-->
  <nz-input-group [nzSuffix]="suffixIconSearch" [ngClass]="{'mg-bottom-24': true, 'width-50': true}">
    <input type="text" nz-input placeholder="Name..." #searchBox  (keyup.enter)="searchCoach(searchBox.value)"/>
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <i nz-icon type="search"></i>
  </ng-template>
  <!-- end search box -->

  <!-- custom list -->
  <nz-list [nzDataSource]="coaches" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" class="mg-bottom-24">
    <ng-template #item let-item>
      <nz-list-item (click)="goToCoachDetail(item);">
        <nz-list-item-meta
          [nzTitle]="nzTitle"
          nzAvatar="{{ item.userProfile.avatar }}"
          nzDescription="{{ item.about }}"
        >
          <ng-template #nzTitle>
            <span>{{ item.userProfile.fullName }}</span>
          </ng-template>
        </nz-list-item-meta>
      </nz-list-item>
    </ng-template>
  </nz-list>
  <!-- end custom list-->

  <!-- pagination -->
  <nz-pagination
    [nzPageIndex]="currentCoachesPage"
    [nzPageSize]="nCoachesPerPage"
    [nzTotal]="totalCoaches"
    [nzSize]="'small'"
    (nzPageIndexChange)="coachesPageChange($event)"></nz-pagination>
  <!-- end pagination -->
</div>
