<!-- layout -->
<div
  [ngClass]="{ 'height-100': true, 'position-relative': true }"
  nz-row
  nzAlign="middle"
  nzJustify="center"
  nzType="flex"
>
  <!-- loading component -->
  <app-loading *ngIf="isLoadingSpinnerShown"></app-loading>
  <!-- end loading component -->

  <!-- login form -->
  <form
    [formGroup]="loginForm"
    [ngClass]="{ 'login-form': true, 'opacity-loading': isLoadingSpinnerShown }"
    nz-form
  >
    <h1 align="center">Login</h1>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixUser">
          <input
            (blur)="validateEmail()"
            formControlName="userName"
            nz-input
            placeholder="Username"
            type="text"
          />
        </nz-input-group>
        <nz-form-explain
          *ngIf="
            loginForm.get('userName').touched &&
            (loginForm.get('userName').hasError('required') ||
              loginForm.get('userName').hasError('invalidEmail'))
          "
        >Please input your username! (e.g. abc@gmail.com)
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixLock">
          <input
            (blur)="validatePassword()"
            formControlName="password"
            nz-input
            placeholder="Password"
            type="password"
          />
        </nz-input-group>
        <nz-form-explain
          *ngIf="
            loginForm.get('password').touched &&
            (loginForm.get('password').hasError('required') ||
              loginForm.get('password').hasError('invalidPassword'))
          "
        >Please input your Password!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <a class="login-form-forgot float-left" routerLink="/forgot-password"
        >Forgot password</a
        >
        <button
          (click)="submitForm()"
          [nzType]="'primary'"
          class="login-form-button"
          nz-button
        >
          Log in
        </button>
        <div class="clear-both"></div>
        Or
        <a href="">login with...</a>
        <button
          (click)="loginByFacebook()"
          [nzType]="'primary'"
          ngClass="facebook-background"
          nz-button
        >
          Facebook
        </button>
        <button
          (click)="loginByGoogle()"
          [nzType]="'primary'"
          id="google-sign-in-button"
          ngClass="google-background"
          nz-button
        >
          Google
        </button>
        Or
        <a routerLink="/register">register now!</a>
      </nz-form-control>
    </nz-form-item>
  </form>
  <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
  <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
  <!-- end login form-->
</div>
<!-- end layout -->
