<!--suppress ALL -->
<div
  [ngClass]="{ 'height-100': true, 'position-relative': true }"
  nz-row
  nzAlign="middle"
  nzJustify="center"
  nzType="flex"
>
  <!-- loading component -->
  <app-loading *ngIf="isLoadingSpinnerShown"></app-loading>
  <!-- end loading component -->

  <!-- register form -->
  <form
    (ngSubmit)="submitForm()"
    [formGroup]="registerForm"
    [ngClass]="{
      'register-form': true,
      'opacity-loading': isLoadingSpinnerShown
    }"
    nz-form
  >
    <h1 align="center">Register Form</h1>
    <nz-form-item>
      <nz-form-control>
        <nz-upload
          [nzBeforeUpload]="beforeUpload"
          [nzShowUploadList]="false"
          class="avatar-uploader"
          nzAction=""
          nzListType="picture-card"
          nzName="avatar"
        >
          <ng-container *ngIf="!avatarUrl">
            <i
              [nzType]="isLoadingSpinnerShown ? 'loading' : 'plus'"
              class="upload-icon"
              nz-icon
            ></i>
            <div class="ant-upload-text">Upload</div>
          </ng-container>
          <img *ngIf="avatarUrl" [src]="avatarUrl" class="avatar"/>
        </nz-upload>
        <span>
          (Click here to upload your avatar!)
        </span>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixUser">
          <input
            (blur)="validateName()"
            formControlName="fullName"
            nz-input
            placeholder="Name"
            type="text"
          />
        </nz-input-group>
        <nz-form-explain
          *ngIf="
            registerForm.get('fullName').touched &&
            registerForm.get('fullName').hasError('required')
          "
        >Please input your full name!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixUser">
          <input
            (blur)="validateEmail()"
            formControlName="userName"
            nz-input
            placeholder="Username"
            type="text"
          />
        </nz-input-group>
        <nz-form-explain
          *ngIf="
            registerForm.get('userName').touched &&
            (registerForm.get('userName').hasError('required') ||
              registerForm.get('userName').hasError('invalidEmail'))
          "
        >Please input your user's name! (e.g. abc@gmail.com)
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixLock">
          <input
            (blur)="validatePassword()"
            formControlName="password"
            nz-input
            placeholder="Password"
            type="password"
          />
        </nz-input-group>
        <nz-form-explain
          *ngIf="
            registerForm.get('password').touched &&
            (registerForm.get('password').hasError('required') ||
              registerForm.get('password').hasError('invalidPassword'))
          "
        >Please input your Password!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixLock">
          <input
            (blur)="validateConfirmPassword()"
            (keyup)="checkKeyUpValidateConfirmPassword()"
            formControlName="confirmPassword"
            nz-input
            placeholder="Confirm Password"
            type="password"
          />
        </nz-input-group>
        <nz-form-explain
          *ngIf="
            registerForm.get('confirmPassword').touched &&
            (registerForm.get('confirmPassword').hasError('required') ||
              registerForm.get('confirmPassword').hasError('invalidPassword'))
          "
        >Please input your confirm password! Your confirm password must be
          equal to your password!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <label formControlName="acceptTermsOfService" nz-checkbox>
          <span>Accept Terms of Service</span>
        </label>
        <button [nzType]="'primary'" class="register-form-button" nz-button>
          Register
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
  <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
  <!-- end register form -->
</div>
