<!--suppress ALL -->
<div
  [ngClass]="{ 'opacity-loading': isLoadingSpinnerShown }"
  style="width: 100%; min-height: 280px; background-color: #fff; padding: 24px;"
>
  <!-- loading component -->
  <app-loading *ngIf="isLoadingSpinnerShown"></app-loading>
  <!-- end loading component -->

  <!-- no data -->
  <nz-empty
    *ngIf="!recommendedCoaches || recommendedCoaches.length <= 0"
    class="pd-top-100 pd-bottom-100"
  ></nz-empty>
  <!-- end no data -->

  <!-- search box-->
  <nz-input-group
    *ngIf="recommendedCoaches && recommendedCoaches.length > 0"
    [ngClass]="{ 'mg-bottom-24': true, 'width-50': true }"
    [nzSuffix]="suffixIconSearch"
  >
    <input
      #searchBox
      (keyup.enter)="searchCoach(searchBox.value)"
      nz-input
      placeholder="Name..."
      type="text"
    />
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <i nz-icon type="search"></i>
  </ng-template>
  <!-- end search box -->

  <!-- custom list -->
  <nz-list
    *ngIf="recommendedCoaches && recommendedCoaches.length > 0"
    [nzDataSource]="recommendedCoaches"
    [nzItemLayout]="'horizontal'"
    [nzRenderItem]="item"
    class="mg-bottom-24"
  >
    <ng-template #item let-item>
      <nz-list-item (click)="goToCoachDetail(item)" class="coach-item">
        <nz-list-item-meta
          [nzTitle]="nzTitle"
          nzAvatar="{{ item.userProfile.avatar }}"
          nzDescription="{{ item.about }}"
        >
          <ng-template #nzTitle>
            <span>{{ item.userProfile.fullName }}</span>
          </ng-template>
        </nz-list-item-meta>
      </nz-list-item>
    </ng-template>
  </nz-list>
  <!-- end custom list-->

  <!-- pagination -->
  <nz-pagination
    *ngIf="recommendedCoaches && recommendedCoaches.length > 0"
    (nzPageIndexChange)="recommendedCoachesPageChange($event)"
    [nzPageIndex]="currentRecommendedCoachesPage"
    [nzPageSize]="nRecommendedCoachesPerPage"
    [nzSize]="'small'"
    [nzTotal]="totalRecommendedCoaches"
  ></nz-pagination>
  <!-- end pagination -->
</div>
