<!--suppress ALL -->
<div
  style="width: 100%; height: 350px; background-color: #fff; padding: 24px;"
  [ngClass]="{ 'opacity-loading': isLoadingSpinnerShown }"
>
  <!-- loading component -->
  <app-loading *ngIf="isLoadingSpinnerShown"></app-loading>
  <!-- end loading component -->
  <div id="chat-input">
    <input
      nz-input
      placeholder="Please input your message"
      [(ngModel)]="currentUserChatMessage"
      (keyup.enter)="sendChatMessage()"
    />
    <span id="emoji-toggle" (click)="addEmojiToCurrentChatMessage()">{{
      emojiIcon
    }}</span>
  </div>
</div>
