<!--suppress ALL -->
<div
  style="width: 100%; height: 450px; background-color: #fff; padding: 24px;"
  [ngClass]="{ 'opacity-loading': isLoadingSpinnerShown }"
>
  <!-- loading component -->
  <app-loading *ngIf="isLoadingSpinnerShown"></app-loading>
  <!-- end loading component -->

  <!-- chat content -->
  <div id="chat-content" [innerHtml]="currentChatContent">
  </div>
  <!-- end chat content -->

  <!-- chat input -->
  <div id="chat-input">
    <input
      nz-input
      placeholder="Please input your message"
      [(ngModel)]="currentUserChatMessage"
      (keyup.enter)="sendChatMessage()"
    />
  </div>
  <!-- end chat input -->
</div>
