.logo {
  width: 120px;
  height: 31px;
  /*background: rgba(255, 255, 255, 0.2);*/
  /*margin: 16px 24px 16px 0;*/
  float: left;
}

[nz-menu] {
  line-height: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  /*padding: 0 72px;*/
}

nz-footer {
  text-align: center;
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.logo-text {
  width: 120px;
  height: 31px;
  color: hsla(0, 0%, 100%, 0.65);
}

/* slide css */
.collection {
  background-color: #fff;
  background-position: top center;
  background-size: cover;
  padding: 150px 50px;
}

.post-slide-title {
  color: white;
  font-weight: bold;
}

/* end slide css */

/* menu icon css */
.menu-icon {
  color: #fff;
  float: right;
  display: none;
}

/* end menu icon css  */

/* search icon css */
.search-icon {
  color: #fff;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 84px;
}

/* end search icon css  */

/* responsive css */

/* service footer css */
.service {
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.footer-title {
  color: white;
  text-align: left;
  padding-left: 24px;
}

.footer-content {
  list-style-type: none;
  padding-left: 24px;
}

/* end service footer css */


@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  /* header css */
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }

  /* menu icon css */
  .menu-icon {
    display: inline-block;
  }

  /* nz content css */
  nz-content {
    padding: 0;
  }

  /* service footer css */
  .service {
    border: none;
  }

  .footer-title {
    padding-left: 0;
  }

  .footer-content {
    padding-left: 0;
  }
}

@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  /* header css */
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }

  /* menu icon css */
  .menu-icon {
    display: inline-block;
  }

  /* nz content css */
  nz-content {
    padding: 0;
  }

  /* horizontal menu css */
  .horizontal-menu {
    display: none;
  }

  /* service footer css */
  .service {
    border: none;
  }

  .footer-title {
    padding-left: 0;
  }

  .footer-content {
    padding-left: 0;
  }

}

/*@media screen and (min-width: 600px) , screen and (max-width: 800px) {*/
/*...*/
/*}*/

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  /* header css */
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }

  /* menu icon css */
  .menu-icon {
    display: inline-block;
  }

  /* horizontal menu css */
  .horizontal-menu {
    display: none;
  }

  /* nz content css */
  nz-content {
    padding: 0;
  }

  /* service footer css */
  .service {
    border: none;
  }

  .footer-title {
    padding-left: 0;
  }

  .footer-content {
    padding-left: 0;
  }

}

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  /* header css */
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }

  /* menu icon css */
  .menu-icon {
    display: inline-block;
  }

  /* horizontal menu css */
  .horizontal-menu {
    display: none;
  }

  /* nz content css */
  nz-content {
    padding: 0;
  }

  /* service footer css */
  .service {
    border: none;
  }

  .footer-title {
    padding-left: 0;
  }

  .footer-content {
    padding-left: 0;
  }
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .header {
    padding-left: 24px;
    padding-right: 72px;
  }

  /* menu icon css */
  .menu-icon {
    display: none;
  }

  /* horizontal menu css */
  .horizontal-menu {
    display: block;
  }

  /* nz content css */
  nz-content {
    /*padding: 0 72px;*/
  }

  /* drop down menu css */
  .drop-down-menu {
    display: none;
  }

  /* service footer css */
  .service {
    border-right: 1px solid white;
    border-left: 1px solid white;
  }

  .footer-title {
    padding-left: 24px;
  }

  .footer-content {
    padding-left: 24px;
  }

}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  /* header css */
  .header {
    padding-left: 24px;
    padding-right: 72px;
  }

  /* menu icon css */
  .menu-icon {
    display: none;
  }

  /* horizontal menu css */
  .horizontal-menu {
    display: block;
  }

  /* nz content css */
  nz-content {
    /*padding: 0 72px;*/
  }

  /* drop down menu css */
  .drop-down-menu {
    display: none;
  }

  /* service footer css */
  .service {
    border-right: 1px solid white;
    border-left: 1px solid white;
  }

  .footer-title {
    padding-left: 24px;
  }

  .footer-content {
    padding-left: 24px;
  }
}

/* end responsive css */

/* footer css */
.footer {
  padding: 50px 24px;
  background: hsl(209, 100%, 8%);
}
/* end footer css */



