/* shopping cart css */
.shopping-cart-row {
  background-color: white;
}

.product-image {
  width: 64px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

#total-price {
  padding: 24px;
  background-color: white;
}

#total-price-title {
  display: inline-block;
  float: left;
}

#total-price-value {
  display: inline-block;
  float: right;
}

#shopping-cart-action {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: white;
}

#payment-button {
  width: 200px;
}

#clear-shopping-cart-button {
  width: 200px;
  margin-left: 24px;
  background-color: darkorange;
  border-color: darkorange;
}

#clear-shopping-cart-button:hover {
  opacity: 0.75;
}

#paypal {
  width: 100%;
  display: block;
  margin-bottom: 12px;
}

#cash {
  width: 100%;
  display: block;
  background-color: darkorange;
  border-color: darkorange;
}

#cash:hover {
  opacity: 0.75;
}

/* end shopping cart css */
