/* pagination css */

#pagination {
  margin-top: 24px;
}

/* end pagination css */

/* new feed css */

.new-feed-card {
  width: 100%;
  margin-bottom: 12px;
}

.description-achievement {
  margin-bottom: 12px;
  color: #000;
}

.description-content {
  color: #000;
}

.status-value {
  color: black;
  margin-right: 12px;
}
/* end new feed css */

/* override card actions css */
::ng-deep .ant-card-actions {
  background: #fff;
}

/* end override card actions css */
