<!-- layout -->
<div style="width: 100%; min-height: 280px; background-color: #fff; padding: 24px;">
  <nz-tabset>

    <!-- tab schedule profile -->
    <nz-tab nzTitle="Schedule">
      <app-membership-schedule></app-membership-schedule>
    </nz-tab>
    <!-- end tab schedule -->

    <!-- tab report -->
    <nz-tab nzTitle="Report">
      <app-membership-body-index-report></app-membership-body-index-report>
    </nz-tab>
    <!-- end tab report's title -->

    <!-- tab achievement -->
    <nz-tab nzTitle="Achievement">
      <app-membership-achievement></app-membership-achievement>
    </nz-tab>
    <!-- end tab achievement -->
  </nz-tabset>
</div>
<!-- end layout -->
