<!--suppress ALL -->
<div [ngClass]="{'opacity-loading': isLoadingSpinnerShown}">

  <!-- loading component -->
  <app-loading *ngIf="isLoadingSpinnerShown"></app-loading>
  <!-- end loading component -->

  <div nz-row nzGutter="16" [ngClass]="{'mg-bottom-24': true}">
    <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="24"
         nzLg="24" nzXl="24">

      <!-- buying history detail -->
      <div id="buying-history-list-detail" *ngIf="!isLoadingSpinnerShown">
        <nz-table #buyingHistoryDetailTable [nzData]="productOrderDetails" nzShowPagination="false">
          <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let eachProductOrderDetail of productOrderDetails">
            <td class="buying-history-row">
              <img class="product-image" src="{{ eachProductOrderDetail?.product.productImage }}"
                   alt="{{ eachProductOrderDetail?.product.productName }}">
            </td>
            <td class="buying-history-row">{{ eachProductOrderDetail?.product.productName }}</td>
            <td class="buying-history-row">{{ eachProductOrderDetail?.product.productPrice }}$</td>
            <td class="buying-history-row">
              <div id="product-quantity">
                {{ eachProductOrderDetail?.quantity }}
              </div>
            </td>
            <td
              class="buying-history-row">{{ eachProductOrderDetail?.quantity * eachProductOrderDetail?.product.productPrice }}
              $
            </td>
          </tr>
          </tbody>
        </nz-table>
        <!-- total price -->
        <div id="total-price">
          <h2 id="total-price-title">Total: </h2>
          <h2 id="total-price-value">{{ totalShoppingCartPrice }}$</h2>
          <div class="clear-both"></div>
        </div>
        <!-- end total price-->
        <!-- end buying history list detail -->
      </div>
    </div>
  </div>

</div>
