<div
  style="width: 100%; min-height: 280px; background-color: #fff; padding: 24px;"
>
  <!-- loading component -->
  <app-loading *ngIf="isLoadingSpinnerShown"></app-loading>
  <!-- end loading component -->

  <!-- select product order status -->
  <nz-select
    (ngModelChange)="onProductOrderStatusChanged($event)"
    [(ngModel)]="selectedProductOrderStatus"
    style="width: 120px;"
  >
    <nz-option nzLabel="Not Done" nzValue="0"></nz-option>
    <nz-option nzLabel="Done" nzValue="1"></nz-option>
    <nz-option nzLabel="Processing" nzValue="2"></nz-option>
    <nz-option nzLabel="Shipping" nzValue="3"></nz-option>
    <nz-option nzLabel="Cancel" nzValue="4"></nz-option>
  </nz-select>
  <!-- end select product order status-->

  <!-- custom list -->
  <nz-list
    [ngClass]="{
      'opacity-loading': isLoadingSpinnerShown,
      'mg-bottom-24': true,
      'mg-top-24': true
    }"
    [nzDataSource]="productOrders"
    [nzItemLayout]="'horizontal'"
    [nzRenderItem]="item"
  >
    <ng-template #item let-item>
      <nz-list-item (click)="goToBuyingHistoryDetail(item)">
        <nz-list-item-meta [nzTitle]="nzTitle">
          <ng-template #nzTitle>
            <span>{{ item.productOrderDate | date: "MM/dd/yyyy" }}</span>
          </ng-template>
        </nz-list-item-meta>
      </nz-list-item>
    </ng-template>
  </nz-list>
  <!-- end custom list -->

  <!-- pagination -->
  <nz-pagination
    (nzPageIndexChange)="productOrdersPageChange($event)"
    *ngIf="productOrders && productOrders.length"
    [nzPageIndex]="currentProductOrdersPage"
    [nzPageSize]="nProductOrdersPerPage"
    [nzSize]="'small'"
    [nzTotal]="totalProductOrders"
  ></nz-pagination>
  <!-- end pagination -->
</div>
